certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==24.2
prettytable==3.16.0
pyaml==25.7.0
pyparsing==3.2.3
pySigma==0.11.23
pySigma-backend-elasticsearch==1.1.6
pysigma-pipeline-sysmon==1.0.4
pysigma-pipeline-windows==1.2.0
PyYAML==6.0.2
requests==2.32.5
sigma-cli==1.0.6
urllib3==2.5.0
wcwidth==0.2.13
